<%= render partial: "shared/navbar" %>
<div class ="devise-view">
<h1 class ="devise-headings">Sign up</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name %><br/>
    <%= f.text_field :name, placeholder: "Enter Your Name" %>
  </div>

  <div class="field">
    <%= f.label :email %><br/>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "example@example.com" %>
  </div>
<div class="field">
  <%= f.label :password %>
  <% if @minimum_password_length %>
  <% end %><br/>
  <%= f.password_field :password, autocomplete: "new-password", placeholder: "Enter at least #{@minimum_password_length} characters" %>
</div>


  <div class="field">
    <%= f.label :password_confirmation %><br/>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Repeat The Password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

</div>

