<%= render "shared/navbar" %>
<h1>NEW CATEGORIE</h1>
<%= form_with model: categorie, url: groups_path, method: :post, local: true, scope: :new_categorie do |f| %>
  <div>
    <%= f.text_field :name, placeholder: "Categorie name" %>
  </div>
  <div>
    <%= f.label :icon %><br>
    <%= f.file_field :icon %>
  </div>

  <%= f.submit "Add Categorie" %>
<% end %>
