<%= render "shared/navbar" %>
<h1 class = "new-h1">NEW CATEGORIE</h1>

<div id = "group-new" class="section-wrap">
<%= form_with model: categorie, url: groups_path, method: :post, local: true, scope: :new_categorie do |f| %>
  <div>
    <%= f.text_field :name, placeholder: "Categorie name", class: "form-controll" %>
  </div>
  <div>
    <%= f.file_field :icon, class: "form-controll" %>
  </div>

<%= f.submit "Add Categorie", class: "add-btn" %>
<% end %>
</div>